@font-face {
    font-family: 'Vazir';
    src: url(../fonts/Vazir-Light.woff);
}

*{
    box-sizing: border-box;
}

:root {
    --bg-color-primary: #3498db;
    --bg-color-secondary: #fff;
    --color-price: #d63031;
    --color-cart-line: #522a8e;
}

body {
    font-family: 'Vazir';
    direction: rtl;
    padding: 0;
    margin: 0;
    background-color: var(--bg-color-primary);
}

.products {
    display: flex;
    justify-content: space-around;
    background-color: var(--bg-color-secondary);
    width: 100%;
    text-align: center;
    padding: 1rem;
    margin: 3rem;
    border-radius: 15px;
}

.product {
    padding: 15px;
    width: 450px;
    margin: 35px;
}


.product__image img {
    width: 250px;
}

.product__title {
    font-size: 18px;
}

.product__price {
    font-size: 14px;
    font-weight: bolder;
    color: var(--color-price);
}

.cart {
    background-color: var(--bg-color-secondary);
    width: 100%;
    height: auto;
    text-align: center;
    padding: 1rem;
    margin: 3rem;
    border-radius: 15px;
}

.cart__line {
    border: 1px solid var(--color-cart-line);
    width: 85%;
    margin: 20px auto;
}

.cart__item {
    display: flex;
    justify-content: space-between;
    direction: ltr;
    padding: 15px;
    margin: 30px 0;
}

.cart__item-title {
    font-size: 16px;
    padding-top: 10px;
}

.p-8 {
    padding-top: 8px;
}

.cart__total-price {
    justify-content: center;
    margin-top: 30px;
    font-weight: bolder;
    color: var(--color-price);
}
